[Desktop Entry]
Type=Application
Name=QuetzalCoatlus
Comment=coolbreeze413 Qt application
Exec=quetzalcoatlus
Icon=quetzalcoatlus
Categories=Development;
